{% extends "base.html" %}
{% block start %}
    <!--Input Form-->
<div class="container mt-5">
    <form class="p-2 mb-3 col-6 mx-auto card shadow lg container" method="post" enctype="multipart/form-data">
    {% csrf_token %}    
        <h2>Add Recipe</h2>
  <div class="mb-3">
    <label class="form-label">Recipe Name</label>
    <input name="recipe_name" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Recipe Description</label>
    <input name="recipe_description" type="text" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Recipe Image</label>
    <input name="recipe_image" type="file" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<hr>

<div class="mb-3">

  <div class="mx-auto col-6">

    <form>
      <div class="mb-3">
      <label class="form-label">Search Recipe</label>
      <input type="search" name="search" id="" class="form-control">
      </div>
      {% if back_check %}
      <a href="{% url 'recipe' %}" class="btn btn-danger">Back</a>
      {% endif %}
      <button type="submit" class="btn btn-primary">Search</button>


    </form>

  </div>
</div>
  <table class="mt-5 table table-bordered border-dark">
  <thead>
    <tr>
      <th scope="col">S No.</th>
      <th scope="col">Recipe Name</th>
      <th scope="col">Recipe Description</th>
      <th scope="col">Recipe Image</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      {% for recipe in recipes %}
      <th scope="row">{{forloop.counter}}</th>
      <td>{{recipe.recipe_name}}</td>
      <td>{{recipe.recipe_description}}</td>
      <td><img src="{{ recipe.recipe_image.url }}" style="height: 100px;">
      </td>
      <td>
          <a href="/delete-recipe/{{recipe.id}}/" class="btn btn-danger">Delete</a>
          <a href="/update-recipe/{{recipe.id}}/" class="btn btn-success">Update</a>
        
      </td>
      
    </tr>
    {% endfor %}
  </tbody>
  </table>
  </div>

</body>
</html>
{% endblock %}