{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
<form class="col-5 card p-2 mx-auto shadow-lg" method="post">
  {% csrf_token %}
  {% if messages %}
  <div class="alert alert-primary" role="alert">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  </div>
  {% endif %}
    <h1>Login</h1>
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input name="username" type="text" class="form-control" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control">
  </div>

  <p>Don't have an account? <a href="/register/">Register</a></p>
  <button type="submit" class="btn btn-primary">Login</button>
  
</form>
</div>

{% endblock %}