{% extends "base.html" %}
{% block start %}

<div class="container">
<form class="col-5 card p-2 mx-auto shadow-lg" method="post">
      {% csrf_token %}
    {% if messages %}
    <div class="alert alert-primary" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    </div>
    {% endif %}
    <h1>Register</h1>
  <div class="mb-3">
    <label class="form-label">First Name</label>
    <input name="first_name" type="text" class="form-control" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input name="last_name" type="text" class="form-control" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label class="form-label">Username</label>
    <input name="username" type="text" class="form-control" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control">
  </div>

  <p>Already have an account? <a href="/login/">Login</a></p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}