<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    
<div class="container">
    <form class="mb-3 col-6 mx-auto card shadow lg container" method="post" enctype="multipart/form-data">
    {% csrf_token %}    
        <h1 >Recipe Maker - Update</h1>
        <h2>{{recipe.recipe_name}}</h2>
  <div class="mb-3">
    <label class="form-label">Recipe Name</label>
    <input value="{{recipe.recipe_name}}" name="recipe_name" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Recipe Description</label>
    <input value="{{recipe.recipe_description}}" name="recipe_description" type="text" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Recipe Image</label>
    <input name="recipe_image" type="file" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Update</button>
</form>

</div>

</body>
</html>